<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to root_path, class:"navbar-brand" do %>
          <span>Bookers</span>
          <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="list-unstyled px-3">
                <%= link_to user_path(current_user.id) do %>
                <i class="fas fa-home text-light"></i><span class="text-light">Home</span>
                <% end %>
              </li>
              <li class="list-unstyled px-3">
                <%= link_to users_path do %>
                <i class="fas fa-users text-light"></i><span class="text-light">Users</span>
                <% end %>
              </li>
              <li class="list-unstyled px-3">
                <%= link_to books_path do %>
                <i class="fas fa-book-open text-light"></i><span class="text-light">Books</span>
                <% end %>
              </li>
              <li class="list-unstyled px-3">
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt text-light"></i><span class="text-light">Logout</span>
                <% end %>
              </li>
              <% else %>
              <li class="list-unstyled px-3">
                <%= link_to root_path do %>
                <i class="fas fa-home text-light"></i><span class="text-light">Home</span>
                <% end %>
              </li>
              <li class="list-unstyled px-3">
                <%= link_to home_about_path do %>
                <i class="fas fa-link text-light"></i><span class="text-light">About</span>
                <% end %>
              </li>
              <li class="list-unstyled px-3">
                <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus text-light"></i><span class="text-light">sign up</span>
                <% end %>
              </li>
              <li class="list-unstyled px-3">
                <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt text-light"></i><span class="text-light">Login</span>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key} text-success") %>
    <% end %>
    <%= yield %>
    <footer>
      <p class="text-center py-3">CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
